.floating-hearts-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  overflow: hidden;
}

.floating-heart {
  position: absolute;
  font-size: 1.2rem;
  opacity: 0.6;
  pointer-events: none;
  user-select: none;
}